mixin foot(data)

    //- jQuery lib
    script(src='%=static=%js/separate-js/jquery-3.1.1%=hash=%%=min=%.js')

    //- Daterange
    script(src='%=static=%js/separate-js/moment.min.js')
    script(src='%=static=%js/separate-js/daterangepicker.js')

    //- My
    script(src='%=static=%js/separate-js/my.js')

    //- Holder
    script(src='%=static=%js/separate-js/holder%=hash=%%=min=%.js')

    //- Tether
    script(src='%=static=%js/separate-js/tether%=hash=%%=min=%.js')

    //- Bootstap 4 alpha lib
    script(src='%=static=%js/separate-js/bootstrap%=hash=%%=min=%.js')

    //- MDB lib
    script(src='%=static=%js/separate-js/mdb%=hash=%%=min=%.js')

    //- Highcharts
    script(src='%=static=%js/separate-js/highcharts.js')
    script(src='%=static=%js/separate-js/highcharts-more.js')
    script(src='%=static=%js/separate-js/highcharts-solid-gauge.js')
    script(src='%=static=%js/separate-js/highcharts-heatmap.js')
    //script(src='%=static=%js/separate-js/highcharts-exporting.js')

    //- amCharts
    script(src='%=static=%js/separate-js/amcharts.js')
    script(src='%=static=%js/separate-js/serial.js')
    script(src='%=static=%js/separate-js/light.js')

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')