doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Add invoice', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-body.pt-4
                            div.card-block
                                div.row.mb-5
                                    div.col.col-md-8.col-12
                                        div.row.--spaced.--min
                                            div.col.col-md-7.col-12.row__col
                                                div.md-form
                                                    label.active(for="item_type") Customer
                                                    select.text-muted(id="item_type")
                                                        option(value="") Please select
                                                        option(value="1") John Doe
                                                        option(value="2") Bekzod Ruzmetov
                                                        option(value="3") Khurshid Atajiev
                                        div.row.--spaced.--min
                                            div.col.col-md-4.col-6.row__col
                                                label(for="invoice_no") Invoice No.
                                                input.form-control.form-control-lg.text-muted(type="text", placeholder="Item name", id="invoice_no")
                                            div.col.col-md-4.col-6.row__col
                                                label(for="terms") Terms.
                                                select.form-control.form-control-lg.text-muted(id="terms")
                                                    option(value="") Please select
                                                    option(value="1") NET 30
                                                    option(value="2") NET 40
                                                    option(value="3") NET 50
                                        div.row.--spaced.--min
                                            div.col.col-md-4.col-6.row__col
                                                label(for="issued_date") Issued Date
                                                input.form-control.form-control-lg.datepicker.text-muted(type="text", id="issued_date", value="4 April, 2017")
                                            div.col.col-md-4.col-6.row__col
                                                label(for="po_no") PO No.
                                                input.form-control.form-control-lg.text-muted(type="text", id="po_no", placeholder="PO-1892")
                                    div.col.col-md-4.col-12.brd-side.--brd-left.--brd-color-muted
                                        div.pl-md-5
                                            div.mb-4.pt-2.lead-sm.b
                                                div.text-muted.mb-1 FROM
                                                p
                                                    b Tamano LLC
                                                    br
                                                    span.text-muted
                                                        |3302 Wall Street,
                                                        br
                                                        |Carson City, Nevada 89129
                                                        br
                                                        |+1 (754) 423-9801
                                            div.lead-sm.b
                                                div.text-muted.mb-1 TO
                                                p
                                                    b Tamano LLC
                                                    br
                                                    span.text-muted
                                                        |3302 Wall Street,
                                                        br
                                                        |Carson City, Nevada 89129
                                                        br
                                                        |+1 (754) 423-9801

                            div.table-responsive.fixed-size.mb-5
                                table.table.table-clear.mb-0.--no-last-brd
                                    thead
                                        tr
                                            th.text-left
                                                div.px-3.pb-2 ITEM
                                            th(style="width: 140px;")
                                                div.pb-2 QUANTITY
                                            th(style="width: 170px;")
                                                div.pb-2 PRICE
                                            th(style="width: 140px;")
                                                div.pb-2 DISCOUNT
                                            th(style="width: 170px;")
                                                div.pb-2 TAX
                                            th(style="width: 150px;").text-right 
                                                div.px-3.pb-2 LINE TOTAL
                                    tbody
                                        tr
                                            td
                                                div.md-form.my-0.mx-3
                                                    select.my-0
                                                        option(value="") Please select
                                                        option(value="1") Iphone 7 Plus
                                                        option(value="2") Iphone 7
                                                        option(value="3") MacBook Pro Ram 8Gb
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="2", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="$800", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="-5%", size="1")
                                            td.text-center
                                                div.px-2
                                                    select.form-control.form-control-lg.text-muted
                                                        option(value="") NET 30
                                                        option(value="1") NET 40
                                                        option(value="2") NET 50
                                                        option(value="3") NET 60
                                            td.text-right
                                                div.px-3
                                                    span.lead-sm $800
                                        tr
                                            td
                                                div.md-form.my-0.px-3
                                                    select.my-0
                                                        option(value="") Please select
                                                        option(value="1") Iphone 7 Plus
                                                        option(value="2") Iphone 7
                                                        option(value="3") Khurshid Atajiev
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="2", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="$800", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="-5%", size="1")
                                            td.text-center
                                                div.px-2
                                                    select.form-control.form-control-lg.text-muted
                                                        option(value="") NET 30
                                                        option(value="1") NET 40
                                                        option(value="2") NET 50
                                                        option(value="3") NET 60
                                            td.text-right 
                                                div.px-3
                                                    span.lead-sm $800

                            div.card-block.pt-0
                                div.mb-4
                                    a.btn.btn-success(href="#")
                                        i.fa.fa-plus.mr-2
                                        |Add Item

                                div.text-right.lead-sm.mb-3
                                    div.d-inline-block.subtotal-calc
                                        div.row.mb-2
                                            div.col.col-6.text-muted.text-left SUBTOTAL
                                            div.col.col-6 $1,129.90
                                        div.row
                                            div.col.col-6.text-muted.text-left TAX
                                            div.col.col-6 $129.90

                                div.text-right.mb-3
                                    b.d-inline-block.mr-4.lead GRAND TOTAL
                                    b.d-inline-block.lead.text-primary $1.129.00


                                div.text-right
                                    a.btn.btn-link.btn-lg.text-danger(href="#") Delete
                                    a.btn.btn-lg.btn-primary(href="#") Save
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()