doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Add product', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card.card-block
                        div.card-body.pt-4
                            form(action="#", method="post")
                                div.row.--spaced
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_type") Item type
                                            select(id="item_type")
                                                option(value="") Please select
                                                option(value="1") Type 1
                                                option(value="2") Type 2
                                                option(value="3") Type 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="sales_price") Sales price
                                            input(type="text", placeholder="Price", id="sales_price")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_name") Item name
                                            input(type="text", placeholder="Item name", id="item_name")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form.labled-form
                                            i.fa.fa-usd
                                            label.active(for="purchase_price") Purchase price
                                            input(type="text", placeholder="$", value="400", id="purchase_price")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_category") Item Category
                                            select(id="item_category")
                                                option(value="") Please select
                                                option(value="1") Category 1
                                                option(value="2") Category 2
                                                option(value="3") Category 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="income_account") Income account
                                            select(id="income_account")
                                                option(value="") Please select
                                                option(value="1") Type 1
                                                option(value="2") Type 2
                                                option(value="3") Type 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_description") Item description
                                            textarea(placeholder="item description", id="item_description", rows="6", cols="10")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_photo") Item Photo
                                            div.cupload
                                                label.cupload__imaged.text-muted(for="item_photo")
                                                    i.fa.fa-camera
                                                input(type="file", id="item_photo")
                                    div.col-12.text-right
                                        a.btn.btn-link.text-danger.btn-lg(href="#") Delete
                                        a.btn.btn-primary.btn-lg.px-5(href="#") Save
                                    

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()