doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Dashboard', header)

            <!--Main layout-->
            main.wider
                div.container-fluid
                    div.row.--spaced
                        div.col-xl-4.col-lg-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title NPS
                                div.card-body.h-100
                                    div(id="myChart-1", style="height:200px; width: 100%")
                                    div.mb-3(id="myChart-1-2", style="height:150px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-4.col-lg-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Top Items
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") $
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white $
                                                    a.dropdown-item qty
                                            input.daterange(type="daterange", name="daterange", data-position="left", id="top_items")
                                            label(for="top_items")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div.mb-3(id="myChart-2", style="height:350px; width: 100%")

                                    div.row
                                        div.col-sm-7
                                            small.text-muted NPS standx for Not Promote Score
                                        div.col.text-md-right
                                            small.text-muted 
                                                b
                                                    a(href="#") More Products
                        div.col-xl-4.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Sales Statistics
                                div.card-body.h-100
                                    div.row.mb-3
                                        div.col
                                            div.row
                                                div.col-6 
                                                    span.lead-sm ORDERS
                                                div.col-6.text-right 
                                                    small TODAY
                                                div.col-12 
                                                    div.lead-huge.text-danger.py-2
                                                        strong 8
                                                div.col-6 TOTAL
                                                div.col-6.text-right WEEK
                                                div.col-6 
                                                    span.text-danger 2,500
                                                div.col-6.text-right
                                                    span.text-danger 20
                                        div.col.brd-side.--brd-left
                                            div.row
                                                div.col-6 
                                                    span.lead-sm ORDERS
                                                div.col-6.text-right TODAY
                                                div.col-12 
                                                    div.lead-huge.text-warning.py-2
                                                        strong $8.9K
                                                div.col-6 
                                                    small TOTAL
                                                div.col-6.text-right WEEK
                                                div.col-6 
                                                    span.text-warning 2,500
                                                div.col-6.text-right
                                                    span.text-warning 20

                                    div.mb-3(id="myChart-3", style="height:208px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-5.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Top Sales Reps
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") $
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white $
                                                    a.dropdown-item qty
                                            input.daterange(type="daterange", name="daterange", data-position="center", id="top_sales_reps")
                                            label(for="top_sales_reps")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div.mb-3(id="myChart-4", style="height:300px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-7.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Two Year Performance
                                div.card-body.h-100
                                    div.mb-3(id="myChart-5", style="height:270px; width: 100%")

                                    div.d-flex.justify-content-between.mb-3
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Sales
                                                div.mx-3 $400k
                                                div
                                                    span.badge.badge-success
                                                        i.fa.fa-angle-down.mr-1
                                                        |8.5%
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Cost
                                                div.mx-3 -$200k
                                                div
                                                    span.badge.badge-success
                                                        i.fa.fa-angle-up.mr-1
                                                        |5.6%
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Profit
                                                div.mx-3 -$80k
                                                div
                                                    span.badge.badge-danger
                                                        i.fa.fa-angle-down.mr-1
                                                        |5.6%


                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-7.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Sales per Staff per Weekday
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") qty
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white qty
                                                    a.dropdown-item $
                                            input.daterange(type="daterange", name="daterange", data-position="center", id="sales_per_staff_per_weekday")
                                            label(for="sales_per_staff_per_weekday")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div(id="myChart-6", style="height:380px; width: 100%")
                        div.col-xl-5.col-md-6.row__col
                            div.card.card-block.h-100
                                div.card-body.h-100
                                    div.uchat
                                        div.row.uchat__credential
                                            div.col
                                                div.uchat__interlocutor
                                                    div.uchat__interlocutor-img
                                                        img.rounded-circle.mr-2(data-src="holder.js/40x40?auto=yes&theme=sky", alt="Nirmala", height="40", width="40")
                                                        uchat__interlocutor-status.bg-primary
                                                    span.d-inline-block Gista Putri
                                            div.col.col-auto
                                                div.md-form.iconed-field.--left
                                                    i.fa.fa-search.text-muted
                                                    input.form-control.no-brd(type="text", placeholder="Search")

                                        div.uchat__messsages(style="height:280px")
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Hello, baby
                                                        p are you free tonight ?
                                                    div.text-right 2:10 PM
                                            div.text-right
                                                div.uchat__messsage.--mine
                                                    div.uchat__text.bg-secondary
                                                        p Hi!!!! yes maybe
                                                    div.text-left 2:11 PM
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Okay I pickup you at 8 PM
                                                    div.text-right 2:12 PM
                                            div.text-right
                                                div.uchat__messsage.--mine
                                                    div.uchat__text.bg-secondary
                                                        p Hi!!!! yes maybe
                                                    div.text-left 2:11 PM
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Okay I pickup you at 8 PM
                                                    div.text-right 2:12 PM

                                        div.md-form.iconed-field.--right.my-0
                                            button(type="button")
                                                i.fa.fa-send.text-primary
                                            input.my-0(type="text", placeholder="Type your message")
                        div.col-xl-7.col-md-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Satisfaction by Age Group
                                div.card-body.h-100
                                    div.row
                                        div.col
                                            div(id="myChart-7", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-2", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-3", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-4", style="height:320px; width: 100%")
                        div.col-xl-5.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Customer Profile
                                div.card-body.h-100
                                    div(id="myChart-8", style="height:350px; width: 100%")

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()