doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Welcome', header)

            <!--Main layout-->
            main
                div.container-fluid
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()