doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Orders', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-header.card__header.--no-brd
                            div.card-block.pb-0
                                div.row
                                    div.col.col-md-auto.col-12.sortby.text-md-left.text-center
                                        div.sortby__name.lead Bulk Action
                                        div.sortby__select.md-form.vTop
                                            select.--no-brd.my-0
                                                option(value="") Select option 
                                                option(value="1") Option 
                                                option(value="1") Option Option Option
                                        a.btn.btn-secondary(href="#") GO
                                    div.col.text-md-right.text-center.upager
                                        span.text-muted.mx-2 1-50 of 2500
                                        a.badge.badge-white.--big.mx-1(href="#")
                                            i.fa.fa-angle-left 
                                        a.badge.badge-default.--big.mx-1(href="#")
                                            i.fa.fa-angle-right 

                        div.card-body
                            div.table-responsive.fixed-size
                                table.table.table-striped.mb-0
                                    thead
                                        tr
                                            th.text-right
                                                input.md-checkbox(type="checkbox", value="all", name="orders", id="all")
                                                label(for="all")
                                            th.text-left Order
                                            th.text-left Purchase on
                                            th.text-left Customer
                                            th.text-left Ship to
                                            th.text-left Purchase Price
                                            th Status
                                            th Action
                                    tbody
                                        - for (var i = 0; i < 10; ++i)
                                            tr
                                                td.text-right
                                                    input.md-checkbox(type="checkbox", value=i, name="orders", id="check-"+i)
                                                    label(for="check-"+i)
                                                td 009
                                                td Mar 1, 2017
                                                td Anggita Rusma
                                                td Tampa Florida, JK 178192, USA
                                                td $ 500.80
                                                td.text-center
                                                    span.badge.badge-danger.--small(href="#") Closed
                                                td.text-center
                                                    a.badge.badge-default.--small.text-default(href="#") View
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()