doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn.collabsed-sn
        div.page__wrapper
            div.page__header
                +header('POS', header)

            <!--Main layout-->
            main.main-xl
                div.container-fluid
                    div.row.--spaced-in
                        div.col.col-xl-8.col-12.row__col
                            div.tab-content.p-0
                                div.tab-pane(id="sportwear", role="tabpanel") 
                                    h1 Sportwear
                                div.tab-pane.active(id="casual", role="tabpanel")
                                    div.row.--spaced
                                        - for (var i = 0; i < 11; ++i)
                                            div.col.col-xl-3.col-md-4.col-sm-6.col-12.row__col
                                                div.card.h-100
                                                    div.card-body.post-card-body
                                                        a.pos-item.d-block.text-center(href="#")
                                                            div.text-right.pos-item__price $#{47 + i}
                                                            img.img-fluid.card-img.pos-item__img(data-src="holder.js/600x400?auto=yes&bg=2081b8", alt="Nirmala", height="450", width="600")
                                                            div.pos-item__name Mix Green Nike
                                        div.col.col-xl-3.col-md-4.col-sm-6.col-12.row__col
                                            div.card.h-100
                                                div.card-body.h-100
                                                    div.view.overlay.hm-black-strong.active.h-100
                                                        a.pos-item.d-block.text-center.active(href="#")
                                                            div.text-right.pos-item__price $67
                                                            img.img-fluid.card-img.pos-item__img(data-src="holder.js/600x400?auto=yes&bg=2081b8", alt="Nirmala", height="450", width="600")
                                                            div.pos-item__name Mix Green Nike
                                                            span.mask.flex-center.white-text + More
                                div.tab-pane(id="oxford", role="tabpanel")
                                    h1 Sportwear
                                div.tab-pane(id="loafer", role="tabpanel")
                                    h1 Loafer
                        div.col.col-xl-4.col-12.row__col.--no-child
                            div.card.ucustomer.h-100
                                div.card-body
                                    div.p-3
                                        div.ucustomer__credential
                                            img.rounded-circle(data-src="holder.js/100x100?auto=yes&bg=f2f4f6", alt="Nirmala", height="100", width="100")
                                            div
                                                div.title Unknown Customer
                                                span.lead-sm.text-muted Tab here to add the Customer
                                    ul.nav.nav-tabs.tabs-2.--ucustomer(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(data-toggle="tab", href="#current_order", role="tab") Current Order
                                        li.nav-item
                                            a.nav-link(data-toggle="tab", href="#order_on_hold", role="tab") Orders on Hold
                                    div.tab-content
                                        div.tab-pane.fade.in.show.active(id="current_order", role="tabpanel")
                                            div.ucustomer__orders
                                                - for (var i = 0; i < 7; ++i)
                                                    div.ucustomer__order
                                                        div
                                                            div.lead-sm
                                                                b Gista Putri
                                                            small.text-sm.text-muted 12am  |  Mar 29, 2017
                                                        div
                                                            div.text-muted 2
                                                        div
                                                            div.lead-sm $87

                                            div.ucustomer__order.--no-brd
                                                div
                                                    small.text-sm.text-muted Discount
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead-sm.text-warning -$2
                                            div.ucustomer__order.mb-5
                                                div
                                                    div.lead-sm
                                                        b Total
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead.text-success
                                                        b 185

                                            div.d-flex.justify-content-between
                                                div
                                                    a.btn.btn-link.text-danger(href="#", data-toggle="modal", data-target="#frameModalTopInfoDemo", data-backdrop="true")
                                                        i.fa.fa-trash.mx-2.hidden-lg-down
                                                        span.nowrap Delete
                                                div
                                                    a.btn.btn-link.text-warning(href="#", onclick="toastr.info('Hi! I am info message.');")
                                                        i.fa.fa-clock-o.mx-2.hidden-lg-down
                                                        span.nowrap On Hold
                                                div
                                                    a.btn.btn-primary(href="pos-2.html")
                                                        //i.fa.fa-money.m-2
                                                        span.nowrap Checkout


                                        div.tab-pane.fade(id="order_on_hold", role="tabpanel")
                                            div.ucustomer__orders
                                                - for (var i = 0; i < 5; ++i)
                                                    div.ucustomer__order
                                                        div
                                                            div.lead-sm
                                                                b Lorem Ipsum
                                                            small.text-sm.text-muted 09am  |  Mar 21, 2017
                                                        div
                                                            div.text-muted 3
                                                        div
                                                            div.lead-sm $60

                                            div.ucustomer__order.--no-brd
                                                div
                                                    small.text-sm.text-muted Discount
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead-sm.text-warning -$1
                                            div.ucustomer__order.mb-3
                                                div
                                                    div.lead-sm
                                                        b Total
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead.text-success
                                                        b 285

                                            div.d-flex.justify-content-between
                                                div
                                                    a.btn.btn-link.text-danger(href="#", data-toggle="modal", data-target="#frameModalTopInfoDemo", data-backdrop="false")
                                                        i.fa.fa-trash.mx-2.hidden-lg-down
                                                        span.nowrap Delete
                                                div
                                                    a.btn.btn-link.text-warning(href="#", onclick="toastr.info('Hi! I am info message.');")
                                                        i.fa.fa-clock-o.mx-2.hidden-lg-down
                                                        span.nowrap On Hold
                                                div
                                                    a.btn.btn-primary(href="pos-2.html")
                                                        //i.fa.fa-money.m-2
                                                        span.nowrap Checkout
            <!--/Main layout-->

            <!-- Frame Modal Top Info-->
            div.modal.fade.top.modal-content-clickable(id="frameModalTopInfoDemo", tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                div.modal-dialog.modal-frame.modal-top.modal-notify.modal-info(role='document')
                    // Content
                    div.modal-content
                        // Body
                        div.modal-body
                            .row.px-4
                            p.text-center
                                | Are you sure you want to delete?
                            div.text-center
                                a.btn.btn-primary(type='button', data-dismiss='modal') Yes! 
                                a.btn.btn-outline-secondary-modal.waves-effect(type='button', data-dismiss='modal') Cancel
                        // /.Content

            <!-- Frame Modal Bottom Success-->

        .page__footer
            +footer()

        +foot()