doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn.collabsed-sn
        div.page__wrapper
            div.page__header
                +header('POS 2', header)

            <!--Main layout-->
            main.main-xl
                div.container-fluid
                    div.row.--spaced
                       div.col.col-xl-8.col-12.row__col
                            div.card.card-block.h-100
                                div.card-body
                                    div.row.calc.mb-4.pb-2
                                        div.col.col-md-6.col-12
                                            div.row.--spaced.--min
                                                div.col.col-12.row__col
                                                    input.form-control.form-control-lg.text-right(type="text", value="125", placeholder="Enter value")
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='7') 7
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='8') 8
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='9') 9
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='4') 4
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='5') 5
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='6') 6
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='1') 1
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='2') 2
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value='3') 3

                                                div.col.col-4.row__col
                                                    button.btn.btn-lg.btn-danger.btn-block.m-0(type="button", value="c") c
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value="0") 0
                                                div.col.col-4.row__col
                                                    button.btn.btn-link.btn-lg.btn-outline-secondary.btn-block.m-0(type="button", value=",") ,
                                        div.col.col-md-3.col-6
                                            div.row.--spaced.--min
                                                div.col.col-12.row__col
                                                    input.form-control.form-control-lg(type="text", value="125", placeholder="Enter value", disabled)
                                                div.col.col-12.row__col
                                                    button.btn.btn-success.btn-lg.btn-block.m-0.fixed-fa(type="button", value="Cash")
                                                        i.fa.fa-dollar.mr-2
                                                        |Cash
                                                div.col.col-12.row__col
                                                    button.btn.btn-primary.btn-lg.btn-block.m-0.fixed-fa(type="button", value="Card")
                                                        i.fa.fa-percent.mr-2
                                                        |Card
                                                div.col.col-12.row__col
                                                    button.btn.btn-info.btn-lg.btn-block.m-0.fixed-fa(type="button", value="Discount")
                                                        i.fa.fa-percent.mr-2
                                                        |Discount
                                                div.col.col-12.row__col
                                                    button.btn.btn-warning.btn-lg.btn-block.m-0.fixed-fa(type="button", value="Change")
                                                        i.fa.fa-percent.mr-2
                                                        |Change
                                        div.col.col-md-3.col-6
                                            div.row.--spaced.--min
                                                div.col.col-12.row__col
                                                    input.form-control.form-control-lg.text-right(type="text", value="2,500,000", placeholder="Enter value")
                                                div.col.col-12.row__col
                                                    div.row
                                                        div.col.col-xl-10.col-9
                                                            div.md-form
                                                                input.text-right(type="text", value="500,000", placeholder="Enter value")
                                                        div.col.col-xl-2.3.col-3.align-self-center
                                                            a(href="#")
                                                                i.fa.fa-close.text-danger
                                                div.col.col-12.row__col
                                                    div.row
                                                        div.col.col-xl-10.col-9
                                                            div.md-form
                                                                input.text-right(type="text", value="500,000", placeholder="Enter value")
                                                        div.col.col-xl-2.3.col-3.align-self-center
                                                            a(href="#")
                                                                i.fa.fa-close.text-danger
                                                div.col.col-12.row__col
                                                    div.row
                                                        div.col.col-xl-10.col-9
                                                            div.md-form
                                                                input.text-right(type="text", value="500,000", placeholder="Enter value")
                                                        div.col.col-xl-2.3.col-3.align-self-center
                                                            a(href="#")
                                                                i.fa.fa-close.text-danger
                                                div.col.col-12.row__col
                                                    div.row
                                                        div.col.col-xl-10.col-9
                                                            div.md-form
                                                                input.text-right(type="text", value="500,000", placeholder="Enter value")
                                                        div.col.col-xl-2.3.col-3.align-self-center
                                                            i.fa.fa-close.text-danger

                                    div.d-flex.justify-content-between
                                        div
                                            a.btn.btn-link.text-danger(href="pos-1.html")
                                                i.fa.fa-mail-reply.m-2
                                                b Back
                                        div
                                            button.btn.btn-link.text-warning(onclick="toastr.success('Successfully saved.');")
                                                i.fa.fa-save.m-2
                                                b Save
                                        div
                                            button.btn.btn-success
                                                i.fa.fa-save.m-2
                                                b Save / Print


                        div.col.col-xl-4.col-12.row__col
                            div.card.ucustomer.h-100
                                div.card-body
                                    div.p-3
                                        div.ucustomer__credential
                                            img.rounded-circle(data-src="holder.js/100x100?auto=yes&bg=f2f4f6", alt="Nirmala", height="100", width="100")
                                            div
                                                div.title Unknown Customer
                                                span.lead-sm.text-muted Tab here to add the Customer
                                    ul.nav.nav-tabs.tabs-2.--ucustomer(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(data-toggle="tab", href="#current_order", role="tab") Current Order
                                        li.nav-item
                                            a.nav-link(data-toggle="tab", href="#order_on_hold", role="tab") Orders on Hold
                                    div.tab-content
                                        div.tab-pane.fade.in.show.active(id="current_order", role="tabpanel")
                                            div.ucustomer__orders
                                                - for (var i = 0; i < 7; ++i)
                                                    div.ucustomer__order
                                                        div
                                                            div.lead-sm
                                                                b Gista Putri
                                                            small.text-sm.text-muted 12am  |  Mar 29, 2017
                                                        div
                                                            div.text-muted 2
                                                        div
                                                            div.lead-sm $87

                                            div.ucustomer__order.--no-brd
                                                div
                                                    small.text-sm.text-muted Discount
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead-sm.text-warning -$2
                                            div.ucustomer__order.mb-3
                                                div
                                                    div.lead-sm
                                                        b Total
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead.text-success
                                                        b 185


                                        div.tab-pane.fade(id="order_on_hold", role="tabpanel")
                                            div.ucustomer__orders
                                                - for (var i = 0; i < 5; ++i)
                                                    div.ucustomer__order
                                                        div
                                                            div.lead-sm
                                                                b Lorem Ipsum
                                                            small.text-sm.text-muted 09am  |  Mar 21, 2017
                                                        div
                                                            div.text-muted 3
                                                        div
                                                            div.lead-sm $60

                                            div.ucustomer__order.--no-brd
                                                div
                                                    small.text-sm.text-muted Discount
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead-sm.text-warning -$1
                                            div.ucustomer__order.mb-3
                                                div
                                                    div.lead-sm
                                                        b Total
                                                div
                                                    div.text-muted &nbsp;
                                                div
                                                    div.lead.text-success
                                                        b 285
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()