doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                //+header('Welcome', header)

                div.uauth
                    form(action="#", method="post")
                        div.card.card-block
                            div.card-body.p-sm-3
                                div.title.text-primary.text-center.pt-3 POS APP
                                div.text-muted.mb-5.text-center 
                                    small Please enter your user information.

                                div.uauth__field.form-group.mb-3
                                    input.form-control.form-control-lg(type="text", value="", placeholder="Username")
                                div.uauth__field.form-group.mb-3
                                    input.form-control.form-control-lg(type="text", value="", placeholder="Email")
                                div.uauth__field.form-group.mb-3
                                    input.form-control.form-control-lg(type="password", value="", placeholder="Password")
                                    span.uauth__fieldicon.text-muted(href="#")
                                        i.fa.fa-eye
                                div.uauth__field.form-group.mb-4.pb-2
                                    input.form-control.form-control-lg(type="password", value="", placeholder="Confirm Password")
                                    span.uauth__fieldicon.text-muted.--rouded(href="#")
                                        i.fa.fa-eye
                                div.uauth__field.mb-4.pb-2
                                    button.btn.btn-block.btn-primary.btn-lg.uauth__btn.mb-0(type="submit", value="Sign me in") Sign me in
                                div.mb-3
                                    div.border-around.--dashed.text-muted
                                        span.bg-white Or
                                div.text-center
                                    span.lead-sm
                                        |Create an account? &nbsp;
                                        a(href="#") click here!
        +foot()