doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Welcome', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card.card-block
                        div.card-body
                            div.text-center.upager.mb-4
                                div.mb-3
                                    small.text-muted Daily Ending
                                a.badge.badge-white.--big.mx-1(href="#")
                                    i.fa.fa-angle-left 
                                span.lead-sm.mx-2 Monday, March 21, 2017
                                a.badge.badge-white.--big.mx-1(href="#")
                                    i.fa.fa-angle-right

                            div.table-responsive.fixed-size.mb-4
                                table.table.table-bordered.utable
                                    thead
                                        tr
                                            th.vmid(style="width:300px;")
                                                div(style="width:300px;")
                                            - for (var i = 1; i < 13; ++i)
                                                th.vmid(colspan="2")
                                                    div
                                                        b.lead-sm #{i}AM
                                            - for (var j = 1; j < 12; ++j)
                                                th.vmid(colspan="2")
                                                    div
                                                        b.lead-sm #{j}PM
                                    tbody
                                        - for (var i = 0; i < 3; ++i)
                                            tr
                                                td.vmid(style="width:300px;")
                                                    div.mb-3
                                                        small.text-muted Project Name
                                                        div
                                                            span.lead-sm Wallet App
                                                    div.mb-3
                                                        small.text-muted Task
                                                        div
                                                            span.lead-sm Brainstorming & wireframing
                                                    small Billable
                                                - for (var j = 1; j < 24; ++j)
                                                    td &nbsp;
                                                    td &nbsp;

                            div.row
                                div.col.col-md-auto.col-12
                                    a.btn.btn-primary(href="#", data-toggle="modal", data-target="#addNew")
                                        i.fa.fa-edit.mr-2
                                        |Add Sheet
                                div.col.text-md-right
                                    a.btn.btn-danger(href="#")
                                        i.fa.fa-trash.mr-2
                                        |Clear All
                                    a.btn.btn-success(href="#")
                                        i.fa.fa-save.mr-2
                                        |Save as Draft

                            div.modal.fade.modal-ext(id="addNew", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
                                div.modal-dialog.modal-sm(role="document")
                                    div.modal-content
                                        div.modal-body
                                            div.title.text-primary.text-center Add Timesheet
                                            div.mb-4.text-center Thursday, March 22, 2017

                                            div.uauth__field.form-group
                                                div.md-form
                                                    select
                                                        option Project
                                            div.uauth__field.form-group
                                                div.md-form
                                                    select
                                                        option Activity
                                            div.uauth__field
                                                div.md-form
                                                    select
                                                        option Task
                                            div.uauth__field.mb-4
                                                div.md-form
                                                    select
                                                        option Billable
                                            div.uauth__field.text-center.mb-3
                                                button.btn.btn-primary.px-5(type="submit", value="Add") Add

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()