doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Timesheet Entry', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-header.card__header
                            div.card-block.pb-0
                                div.row
                                    div.col.col-md-auto.col-12.sortby.text-md-left.text-center
                                        div.sortby__name.lead.text-muted Name
                                        div.sortby__select.md-form
                                            select.my-0.--no-brd
                                                 option(value="") Albertus Jenius
                                                 option(value="1") Option 
                                                 option(value="1") Option Option Option
                                    div.col.text-md-right.text-center
                                        div.d-inline-block
                                            div.lead-xl 87
                                            small.text-muted Billable hours 
                                        div.d-inline-block.ml-4
                                            div.lead-xl 20
                                            small.text-muted Non-billable 
                        div.card-body
                            div.card-block.pb-0
                                div.text-center.upager.mb-4
                                    div.mb-3
                                        small.text-muted Week Ending
                                    a.badge.badge-white.--big.mx-1(href="#")
                                        i.fa.fa-angle-left 
                                    span.lead-sm.mx-2 March 21, 2017
                                    a.badge.badge-white.--big.mx-1(href="#")
                                        i.fa.fa-angle-right

                            div.table-responsive.fixed-size
                                table.table.table-bordered.utable.--spacing2x.--no-brd-aside.mb-0
                                    thead
                                        tr
                                            th.vmid.allotted-cell.--primary(style="with:16.67%")
                                                div
                                                    b.lead-sm Mon
                                                small.text-muted Mar 18, 2017
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Tue
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Wed
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Thu
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Fri
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Sat
                                    tbody
                                        tr
                                            td
                                                div
                                                    b.lead-sm Wallez App
                                                small.text-muted 3 hours
                                            td
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 4 hours
                                            td
                                                div
                                                    b.lead-sm SBAC Bank App
                                                small.text-muted 4 hours
                                            td
                                            td
                                                div
                                                    b.lead-sm Dispar Official
                                                small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm.text-primary Wirez UI Kit
                                                small.text-muted 3 hours
                                            td
                                                    div
                                                        b.lead-sm Fintech App
                                                    small.text-muted 4 hours
                                            td
                                            td
                                            td
                                                div
                                                    b.lead-sm Akkly Web
                                                small.text-muted 4 hours
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 3 hours
                                            td
                                            td
                                            td
                                            td
                                            td
                                                    div
                                                        b.lead-sm Fintech App
                                                    small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm SBAC Bank App
                                                small.text-muted 3 hours
                                            td 
                                                =' '
                                            td
                                            td
                                            td
                                            td
                                        tr
                                            td &nbsp;
                                            td
                                            td
                                            td
                                            td
                                            td
                                        tr
                                            td &nbsp;
                                            td
                                            td
                                            td
                                            td
                                            td

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()