doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('View invoice', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card.uinvoice
                        div.card-header.card__header.uinvoice__header
                            div.uinvoice__operation
                                a(href="#")
                                    i.fa.fa-print
                                a(href="#")
                                    i.fa.fa-pencil
                            div.row
                                div.col.col-xl-4.col-md-4.col-12
                                    div.uinvoice__logo
                                        img.img-fluid(data-src="holder.js/240x140?auto=yes&bg=ffffff&text=Company", alt="Nirmala", height="140", width="240")
                                    p 
                                        |Issued date: Mar 20th, 2017
                                        br
                                        |Net: NET 30
                                        br
                                        |Due date: Apr 21th, 2017
                                div.col.col-xl-3.col-md-4.col-12.uinvoice__credential
                                    div.mb-2.lead-sm.b
                                        div.mb-3 FROM
                                        p
                                            b.text-white Tamano LLC
                                            br
                                            span
                                                |3302 Wall Street,
                                                br
                                                |Carson City, Nevada 89129
                                                br
                                                |+1 (754) 423-9801
                                div.col.col-xl-3.col-md-4.col-12.uinvoice__credential
                                    div.mb-2.lead-sm.b
                                        div.mb-3 TO
                                        p
                                            b.text-white Tamano LLC
                                            br
                                            span
                                                |3302 Wall Street,
                                                br
                                                |Carson City, Nevada 89129
                                                br
                                                |+1 (754) 423-9801

                        div.card-body
                            div.table-responsive.fixed-size.mb-5
                                table.table.mb-0
                                    thead
                                        tr
                                            th.text-left 
                                                div.px-5.pb-2 ITEM
                                            th 
                                                div.pb-2 QUANTITY
                                            th 
                                                div.pb-2 PRICE
                                            th 
                                                div.pb-2 DISCOUNT
                                            th 
                                                div.pb-2 TAX
                                            th.text-right
                                                div.px-5.pb-2 LINE TOTAL
                                    tbody
                                        - for (var i = 0; i < 2; ++i)
                                            tr
                                                td 
                                                    div.lead-sm.py-3.px-5 MacBook Pro Ram 8Gb
                                                td.text-muted.text-center
                                                    div.lead.py-3-sm 2
                                                td.text-muted.text-center
                                                    div.lead.py-3 $800
                                                td.text-muted.text-center
                                                    div.lead.py-3 -5% 
                                                td.text-muted.text-center
                                                    div.lead.py-3 $2
                                                td.text-right
                                                    div.lead.py-3.px-5 $800

                            div.card-block
                                div.px-5.pb-3
                                    div.text-right.lead-sm.mb-3
                                        div.d-inline-block.subtotal-calc
                                            div.row.mb-2
                                                div.col.col-6.text-muted.text-left SUBTOTAL
                                                div.col.col-6 $1,129.90
                                            div.row
                                                div.col.col-6.text-muted.text-left TAX
                                                div.col.col-6 $129.90

                                    div.text-right.mb-5
                                        b.d-inline-block.mr-4.lead GRAND TOTAL
                                        b.d-inline-block.lead.text-primary $1.129.00


                                    div.row
                                        div.col.col-md-6.col-12.lead-sm
                                            p NOTE :
                                            p.text-muted Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                        div.col.col-md-6.col-12.text-right.pt-3
                                            a.btn.btn-lg.btn-primary.mr-0(href="#") Pay Now
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()