// Common styles of the project
@import 'libraries/bootstrap/custom.scss';
@import "./node_modules/bootstrap/scss/mixins";
@import 'libraries/fa/variables';
@import 'libraries/fa/icons';
html, body {
    height: 100%;
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

p {
    &:last-child {margin-bottom: 0;}
}

.nowrap {white-space: nowrap;}
.vTop {vertical-align: top;}
.vMid {vertical-align: top;}
.vBot {vertical-align: top;}

.bg-secondary {background-color: $brand-secondary;}
.bg-white {background-color: $white;}

.auth__user {
    font-size: 1.5rem;
    b {
        margin-right: 0.5rem;
        font-weight: 500;
    }
}

.dropdown {
    &-toggle {
        &:after {
            display: none;
            border:0;
            width: auto;
            height: auto;
            margin:0;
            vertical-align: inherit;
        }
        &.\--arrow-down {
            &:after {
                display: inline-block;
                margin-left:0.5rem;
                @extend .fa-angle-down:before;
                @extend .fa;
            }
            .fa-angle-down {
                position: relative;
            }
        }
    }
}

.row {
    $_ : '.row';
    &.\--spaced {
        #{$_}__col{
            padding-bottom: $grid-gutter-width-base;
        }
        &.\--min {
            #{$_}__col{
                padding-bottom: ($grid-gutter-width-base/2);
            }
        }
    }
    &.\--spaced-in {
        #{$_}__col{
            &.\--no-child {
                padding-bottom: $grid-gutter-width-base;
            }
        }
    }
}

.card {
    &__header {
        margin-bottom: 2rem; 
    }
    &__title {
        font-size: 1rem;
        font-weight: 600;
    }
}

.badge {
    &-white {
        color: $gray-dark;
        &:hover, &:focus {
            color: $white !important;
            background-color: $gray-lighter;
        }
    }
    &.\--big {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.35rem;
    }
    &.\--small {
        font-size: 0.75rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.35rem;
        padding-top: 0.35rem;
    }
}

.text {
    &-default {
        color: $gray-dark;
    }
}

.uchat {
    padding-left: 1rem;
    padding-right: 1rem;
    &__interlocutor {
        padding-top:0.25rem;
    }
    &__interlocutor-img {
        display: inline-block;
    }
    &__credential {
        margin-bottom: 3rem;
    }
    &__messsages {
        overflow: auto;
        will-change: left;
        margin-bottom: 1.5rem;
        padding-right: 0.5rem;
        
        /* Scrollbar */
        &::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        /* Handle */

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #e2e4e7;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        &::-webkit-scrollbar-thumb:window-inactive {
           background: #e2e4e7;
        }
    }
    &__messsage {
        display: inline-block;
        margin-bottom: 0.5rem;
        p {
            margin-bottom: 0.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .uchat__text {
            padding: 0.75rem 1rem;
            margin-bottom: 0.25rem;
        }
        &.\--partner {
            .uchat__text {
                border-radius: 0 5px 5px 5px;
            } 
        }
        &.\--mine {
            .uchat__text {
                border-radius: 5px 0 5px 5px;
            } 
        }
    }
}

.form-control {
    &.no-brd {
        border-bottom: 0;
    }
}

.iconed-field {
    position: relative;
    >.fa, >button {
        position: absolute;
        top:50%;
        left:0; 
        margin-top: -2px;
        transform: translate(0, -50%);
    }
    >button {
        padding: 0;
        border:0;
        background: transparent;
    }
    &.md-form {
        input {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &.\--left {
        .form-control {
            padding-left: 2rem;
        }
        >.fa, >button {left:0;}
        &.md-form {
            input {
                padding-left: 20px;
                width: calc(100% - 20px);
            }
        }
    }
    &.\--right {
        .form-control {
            padding-right: 2rem;
        }
        >.fa, >button {
            right:0;
            left: auto;
        }
        &.md-form {
            input {
                padding-right: 20px;
                width: calc(100% - 20px);
            }
        }
    }
}

.brd-side {
    border-style: solid;
    border-width: 0;
    border-color: $gray-lightest;
    &.\--brd-left {
        border-left-width: 1px;
    }
    &.\--brd-color-muted {
        border-color: $gray-lightest;
    } 
}

.cupload {
    &__imaged {
        display: inline-block;
        padding: 2rem 2.5rem;
        font-size: 1.5rem;
        border: 1px dashed;
        cursor: pointer;
        border-radius: $border-radius;
    }
    input[type="file"] {
        display: none;
        visibility: hidden;
    }
}
.md-form {
    .cupload {
        &__imaged {
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }
}

b, strong {
    font-weight: 600;
}

.table {
    th, td {
        vertical-align: middle;
    }
    thead {
        th {
            text-align: center;
            border-top:0;
            border-bottom-width: 1px;
            &.vmid {vertical-align: middle;}
            &.vtop {vertical-align: top;}
        }
    }
    tbody {
        tr {
            &:last-child {
                border-bottom: $table-border-width solid $table-border-color;
            }
        }
    }
    &.\--no-last-brd {
        tbody {
            tr {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    &-clear {
        tbody {
            td {
                border-top: 0;
            }
        }
    }
    &-responsive {
        &.fixed-size {
            .table {
                min-width: 800px;
            }
        }
    }
}
.utable {
    thead {
        tr {
            box-shadow: 0 5px 10px rgba(242, 244, 246, 1);
            background: $white;
            &:last-child {
                th {
                    border-bottom-width: 0;
                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        border-bottom-width: 1px;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &:first-child {
                td {
                    border-top-width: 0;
                }
            }
        }
    }
    .allotted-cell {
        border-bottom-width: 4px !important;
        &.\--primary {
            border-bottom-color: $brand-primary;
        }
    }
    &.\--spacing2x {
        th, td {
            padding: 1.5rem;
        }
    }
    &.\--no-brd-aside {
        tr {
            th:first-child, td:first-child {
                border-left-color: $white;
            }
            th:last-child, td:last-child {
                border-right-color: $white;
            }
        }
    }
}

.mb-05 {margin-bottom: 0.5rem;}
.mt-05 {margin-top: 0.5rem;}
.pt-05 {padding-top: 0.5rem;}
.pb-05 {padding-bottom: 0.5rem;}

.lead {
    .b {
        font-weight: 600;
    }
    &-sm {
        font-size:1rem;
    }
    &-md {
        font-size:1.2rem;
    }
    &-lg {
        font-size:1.5rem;
    }
    &-xl {
        line-height: 1em;
        font-size:2rem;
    }
    &-huge {
        line-height: 1em;
        font-size:3rem;
        strong {
            font-weight: 700;
        }
    }
}

.uinvoice {
    &__header {
        margin:0 0 2rem;
        padding: 0 $card-spacer-x $card-spacer-x;
        color: #a9dcef;
        border-radius: $card-border-radius $card-border-radius 0 0;
        background: linear-gradient(to right, #2081b8 0%,#309dca 100%);
        @include media-breakpoint-up(xl) {
            padding: 0 $card-spacer-x $card-spacer-x 3.75rem;
        }
        a {
            color: inherit;
        }
    }
    &__operation {
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;
        z-index: 2;
        a {
            display: inline-block;
            margin-left:1rem;
            font-size: 1.5rem;
            &:hover {
                color: $white;
            }
        }
    }
    &__logo {
        display: inline-block;
        color: #444;
        margin-bottom: 1.5rem;
        text-align: center;
        @include media-breakpoint-down(xs) {
            padding-top: 3.5rem;
        }
    }
    &__credential {
        @include media-breakpoint-up(xl) {
            padding-top:5.75rem;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            padding-top:5.75rem;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            padding-top:5.75rem;
        }
        @media (max-width: 991px) {
            padding-top:1.5rem;
        }
    }
}

.table-responsive {
    /* Scrollbar */
    &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
    /* Track */

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Handle */

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #e2e4e7;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: #e2e4e7;
    }
}

.table {
    &-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color: #f4f7fa;
                }
            }
        }
    }
    [type="checkbox"] + label {
        top: 7px;
    }
}

.sortby {
    &__name, &__select {
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
    &__name {
        padding-top:0.75rem;
        padding-bottom:0.75rem;
        @include media-breakpoint-up(sm) {
            margin-right: 1rem;
            padding-right: 1rem;
            border-right:1px solid #e1e1e1;
            &.\--no-brd {
                border-right:0;
            }
        }
    }
    &__select {
        @include media-breakpoint-up(sm) {
            margin-right:1rem;
        }
        &:last-child {margin-right:0;}
        &.md-form {
            margin-bottom: 0;
            .form-control {
                margin-bottom: 0;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 1.5rem;
    }
}

.upager {
    font-size: 1rem;
}
.sortby + .upager {
    padding-top: 1.25rem;
}

.top-nav-collapse {
    .cmenu {}
}
.cmenu {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    .navbar-nav {
        flex-direction: row;
    }
    .nav {
        li {
            a.nav-link {
                display: block;
                font-size: 1rem;
                height: 100%;
                @include media-breakpoint-up(lg) {
                    padding:1.75rem 1.5rem;
                }
                @include media-breakpoint-down(lg) {
                    padding:1.15rem .75rem 0.85rem;
                }
                &:hover {
                    background: rgba($brand-primary, 0.1);
                }
            }
            &.active {
                a {
                    color: $white;
                    background-color: $brand-primary;
                }
            }
            &.dropdown {
                @include media-breakpoint-up(lg) {
                    padding:1.75rem 1.5rem;
                }
                @include media-breakpoint-down(lg) {
                    padding:1.15rem .75rem 0.85rem;
                }
            }
        }
    }
}

.subnav {
    padding-bottom: 0;
    &.\--light {
        background-color: $white;
    }
    &.\--fixed-top {
        z-index: 90;
        @media (min-width: 1441px) {
            padding-left: 240px;
        }
        @media (min-width: 1200px) {
            position: fixed;
            top: 47px;
            left:0; right:0;
            padding-top:13px;
            &.top-nav-collapse {
                padding-top:0;
            }
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            position: fixed;
            top:47px;
            left:0; right:0;
            &.top-nav-collapse {
                padding-top:0;
            }
        }
        @media (max-width: 991px) {
            position: relative;
            top:34px;
        }
    }
    .nav {
        padding: 0;
        margin: 0;
        .nav-item {
            .nav-link {
                position: relative;
                overflow: hidden;
                padding: 0.75em 1.25em;
                color: $gray-dark;
                font-size: 1.125rem;
                &:hover {
                    color: $brand-warning;
                }
                &.active {
                    color: $brand-warning;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        margin:auto;
                        border-radius: 50%;
                        background: $brand-warning;
                        @media (min-width: 992px) {
                            bottom: -9px;
                            left:0; right:0;
                        }
                        @media (max-width: 991px) {
                            left: -9px;
                            top:0; bottom:0;
                        }
                    }
                }
            }
        }
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
}

.ucustomer {
    &__credential {
        display: flex;
        img {
            flex:0 0 100px;
            max-width: 100px;
        }
        >img + div {
            padding-left: $grid-gutter-width-base;
        }
        >div {
            align-self: center!important;
        }
    }
    &__orders {
        overflow: auto;
        @media (min-width: 1700px) {
            height:308px;
        }
        @media (min-width: 1600px) and (max-width: 1699px) {
            height:260px;
        }
        @media (min-width: 1440px) and (max-width: 1599px) {
            height:180px;
        }
        @media (min-width: 1368px) and (max-width: 1439px) {
            height:150px;
        }
        @media (min-width: 1320px) and (max-width: 1367px) {
            height:130px;
        }
        @media (min-width: 1200px) and (max-width: 1319px) {
            height:80px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            height:200px;
        }

        /* Scrollbar */
        &::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        /* Handle */

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #e2e4e7;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        &::-webkit-scrollbar-thumb:window-inactive {
           background: #e2e4e7;
        }
    }
    &__order {
        padding:0.75rem 0.5rem;
        display: flex;
        justify-content: space-around;
        border-bottom: $card-border-width solid $card-border-color;
        &>div {
            &:first-child {
                flex:0 0 40%;
                max-width: 40%;
            }
            &:last-child {
                flex:0 0 20%;
                max-width: 20%;
                text-align: right;
            }
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child, &.\--no-brd {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.calc {
    .md-form {
        margin: 0.225rem 0;
        input {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.uauth {
    width: 442px;
    margin: auto;
    @media (min-width: 992px) {
        padding: 10% 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 7% 0;
    }
    @media (max-width: 767px) {
        padding: 1em 0;
        width: 360px;
    }
    &__field {
        position: relative;
    }
    &__fieldicon {
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
        transform: translate(0, -50%);
        + .form-control {
            padding-right: 2.75rem;
        }
    }
    @media (max-width: 480px) {
        width: 300px;
    }
    &__btn {
        box-shadow: 0 10px 20px rgba(200, 211, 217, 0.75);
    }
}

.border-around {
    position: relative;
    text-align: center;
    >span {
        display: inline-block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
        z-index: 2;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top:50%;
        left: 0; right: 0;
        height: 1px;
        width: 100%;
        border-width: 1px 0 0 0;
        border-style: solid;
        z-index: 0;
    }
    &.\--dashed {
        &:before , &:after {
            border-style: dashed;
        }
    }
    &.\--dotted {
        &:before , &:after {
            border-style: dotted;
        }
    }
}

// Form validation states
.has-success {
  .form-control-success {
    background-image: none;
  }
}

.has-warning {
  .form-control-warning {
    background-image: none;
  }
}

.has-danger {
  .form-control-danger {
    background-image: none;
  }
}

.overlay.active {
    .mask {opacity: 1;}
}

.pos-item {
    padding: 1rem;
    &__name, &__price {
        font-weight: 600;
    }
    &__price {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $brand-warning;
    }
    &__name {
        color: #303030;
    }
    &__img {
        border-radius: 0;
        margin-bottom: 0.65rem;
    }
    &:hover {
        .pos-item__name {
            color: $link-hover-color;
        }
    }
    &.active {
        .pos-item__price {
            color: $link-hover-color;
        }
    }
}
.post-card-body {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 224px;
    }
}

.fixed-sn {
    main.wider {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.subtotal-calc {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-width: 200px;
    }
}

.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */ }
  .daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc; }
  .daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent; }
  .daterangepicker.opensleft:before {
    right: 9px; }
  .daterangepicker.opensleft:after {
    right: 10px; }
  .daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.opensright:before {
    left: 9px; }
  .daterangepicker.opensright:after {
    left: 10px; }
  .daterangepicker.dropup {
    margin-top: -5px; }
    .daterangepicker.dropup:before {
      top: initial;
      bottom: -7px;
      border-bottom: initial;
      border-top: 7px solid #ccc; }
    .daterangepicker.dropup:after {
      top: initial;
      bottom: -6px;
      border-bottom: initial;
      border-top: 6px solid #fff; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
    .daterangepicker .calendar.single .calendar-table {
      border: none; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 32px; }
  .daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #eee;
      border-color: transparent;
      color: inherit; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #fff;
    border-color: transparent;
    color: #999; }
  .daterangepicker td.in-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0; }
  .daterangepicker td.start-date {
    border-radius: 4px 0 0 4px; }
  .daterangepicker td.end-date {
    border-radius: 0 4px 4px 0; }
  .daterangepicker td.start-date.end-date {
    border-radius: 4px; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #08c;
      border-radius: 4px; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px; }
  .daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
    .ranges li:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }
    .ranges li.active {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 768px) {
    .daterangepicker {
        min-width: 600px;
    }
}
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
    }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .calendar.left {
        clear: left;
        margin-right: 0; }
        .daterangepicker.ltr .calendar.left .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.ltr .calendar.right {
        margin-left: 0; }
        .daterangepicker.ltr .calendar.right .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.ltr .left .daterangepicker_input {
        padding-right: 12px; }
      .daterangepicker.ltr .calendar.left .calendar-table {
        padding-right: 12px; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .left .daterangepicker_input {
        padding-left: 12px; }
      .daterangepicker.rtl .calendar.left .calendar-table {
        padding-left: 12px; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
        text-align: right;
        float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .calendar.left {
    clear: none !important; } }

.daterange {
    border: 0;
    line-height: 1.5;
    color: #303030;
    cursor: pointer;
    outline: none;
    padding: 0;
    width: 170px;
}

.documentation {
    .doc-title {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 2rem 0;
        margin: 5rem 0 2rem;
        text-transform: uppercase;
        font-size: 2rem;
        &.doc-first {
            border-top: none;
            margin-top: 0;
            padding-top: 1.2rem;
        }
    }
    .col-example {
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        color: #fff;
        text-align: center;
    }
}
.fixed-sn {
    .documentation {
        footer, main {
            padding-left: 0;
        }
    }
}

pre {
    &[class*=language-] {
        max-height: 600px;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        margin: 2.5em 0;
        overflow: auto;
        padding: 1em;
        background: #1C2331;
        color: #fff;
        text-align: left;
        text-shadow: 0 -0.1em 0.2em #000;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
    }
}

.token {
    position: relative;
    z-index: 1;
    &.tag {
        color: #ac885c;
    }
    &.attr-name {
        color: #ac885c;
    }
    &.attr-value {
        color: #909e6a;
    }
    &.comment {
        color: #777;
    }
    &.property {
        color: #f9ed99;
    }
    &.atrule  {
        color: #7385a5;
    }
    &.attr-value {
        color: #909e6a;
    }
    &.punctuation {
        color: #ac885c;
    }
    &.keyword {
        color: #f9ed99;
    }
    &.string {
        color: #909e6a;
    }
}

.color-block {
    text-align: center;
    color: #fff;
    padding: 40px;
}

.color-block-dark {
    height: 130px;
    text-align: center;
    color: #fff;
    padding: 15px;
}

.dynamic-color .col-md-4 div {
    padding: 7px 20px;
}

.example-list {
    padding: 0;
    margin: .5em 0 1em;
    list-style: none;
    overflow-y: hidden;
}
.example-list-quad li {
    float: left;
    width: 100%;
    max-width: 25%;
}
.example li span {
    cursor: pointer;
}
span.instafilta-target, .planet-name {
    display: block;
}
.instafilta-target, .planet-name {
    padding: .2em .5em;
    color: #666666;
    font-size: 1em;
    background-color: #fff;
    border-bottom: 1px solid #e8ede0;
    text-align: left;
    padding: 10px;
    padding-left: 30px;
}

.modal-dialog .modal-content {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 0
}
.modal .modal-dialog.modal-top {
    top: 0
}
.modal .modal-dialog.modal-left {
    left: 0
}
.modal .modal-dialog.modal-right {
    right: 0
}
.modal .modal-dialog.modal-bottom {
    bottom: 0
}
.modal .modal-dialog.modal-top-left {
    top: 10px;
    left: 10px
}
.modal .modal-dialog.modal-top-right {
    top: 10px;
    right: 10px
}
.modal .modal-dialog.modal-bottom-left {
    left: 10px;
    bottom: 10px
}
.modal .modal-dialog.modal-bottom-right {
    right: 10px;
    bottom: 10px
}
.modal.fade.top:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0)
}
.modal.fade.left:not(.show) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0)
}
.modal.fade.right:not(.show) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0)
}
.modal.fade.bottom:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0)
}
.modal.modal-scrolling {
    position: relative
}
.modal.modal-scrolling .modal-dialog {
    position: fixed;
    z-index: 1050
}
.modal.modal-content-clickable {
    top: auto;
    bottom: auto
}
.modal.modal-content-clickable .modal-dialog {
    position: fixed
}
.modal .modal-fluid .modal-content {
    width: 100%
}
.modal .modal-frame {
    position: absolute;
    margin: 0
}
.modal .modal-fluid,
.modal .modal-frame {
    width: 100%;
    max-width: 100%
}
.modal .modal-frame.modal-bottom {
    bottom: 0
}
.modal .modal-full-height {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 400px;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0
}
.modal .modal-full-height.modal-bottom,
.modal .modal-full-height.modal-top {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto
}
.modal .modal-full-height.modal-top {
    bottom: auto
}
.modal .modal-full-height.modal-bottom {
    top: auto
}
.modal .modal-full-height .modal-content {
    width: 100%
}
.modal .modal-full-height.modal-lg {
    max-width: 90%;
    width: 90%
}
@media (min-width: 992px) {
    .modal .modal-full-height.modal-lg {
        max-width: 800px;
        width: 800px
    }
}
@media (min-width: 1200px) {
    .modal .modal-full-height.modal-lg {
        max-width: 1000px;
        width: 1000px
    }
}
.modal .modal-side {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0;
    width: 400px
}
.modal-dialog .btn .fa {
    color: #fff!important
}
.modal-dialog [class*=btn-outline-] .fa {
    color: inherit!important
}
.modal-dialog.cascading-modal {
    margin-top: 10%
}
.modal-dialog.cascading-modal .modal-header {
    text-align: center;
    margin: -2rem 1rem 1rem;
    padding: 1.5rem;
    border: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}
.modal-dialog.cascading-modal .modal-header .close {
    margin-right: 2.5rem
}
.modal-dialog.cascading-modal .modal-header.white-text .close {
    color: #fff;
    opacity: 1
}
.modal-dialog.cascading-modal .modal-header .title {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.25rem
}
.modal-dialog.cascading-modal .modal-header .title .fa {
    margin-right: 9px
}
.modal-dialog.cascading-modal .modal-header .social-buttons {
    margin-top: 1.5rem
}
.modal-dialog.cascading-modal .modal-header .social-buttons a {
    font-size: 1rem
}
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs {
    margin: -1.5rem 1rem 0
}
.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0
}
.modal-dialog.cascading-modal .modal-body,
.modal-dialog.cascading-modal .modal-footer {
    color: #616161;
    padding-right: 2rem;
    padding-left: 2rem
}
.modal-dialog.cascading-modal .modal-body .additional-option,
.modal-dialog.cascading-modal .modal-footer .additional-option {
    text-align: center;
    margin-top: 1rem
}
.modal-dialog.cascading-modal.modal-avatar {
    margin-top: 6rem
}
.modal-dialog.cascading-modal.modal-avatar .modal-header {
    margin: -6rem 2rem -1rem
}
.modal-dialog.cascading-modal.modal-avatar .modal-header img {
    width: 130px
}
.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    color: #fff;
    font-size: 1.15rem
}
.modal-dialog.modal-notify .modal-header {
    border: 0
}
.modal-dialog.modal-notify .close {
    opacity: 1
}
.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #616161
}
[type=checkbox]+label,
[type=radio]:checked+label,
[type=radio]:not(:checked)+label {
    padding-left: 35px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none
}
.modal-dialog.modal-notify .btn-outline-secondary-modal {
    background-color: transparent
}
.modal-dialog.modal-notify.modal-info .badge,
.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #5394ff
}
.modal-dialog.modal-notify.modal-info .fa {
    color: #5394ff
}
.modal-dialog.modal-notify.modal-info .btn-primary-modal {
    background: #5394ff
}
.modal-dialog.modal-notify.modal-info .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-info .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-info .btn-primary-modal:hover {
    background-color: #6da4ff!important
}
.modal-dialog.modal-notify.modal-info .btn-primary-modal.active {
    background-color: #0059ec!important
}
.modal-dialog.modal-notify.modal-warning .badge,
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #ff8e38
}
.modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal {
    border: 2px solid #5394ff;
    color: #5394ff!important
}
.modal-dialog.modal-notify.modal-warning .fa {
    color: #ff8e38
}
.modal-dialog.modal-notify.modal-warning .btn-primary-modal {
    background: #ff8e38
}
.modal-dialog.modal-notify.modal-warning .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-warning .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-warning .btn-primary-modal:hover {
    background-color: #ff9c52!important
}
.modal-dialog.modal-notify.modal-warning .btn-primary-modal.active {
    background-color: #d15a00!important
}
.modal-dialog.modal-notify.modal-success .badge,
.modal-dialog.modal-notify.modal-success .modal-header {
    background-color: #01d36b
}
.modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal {
    border: 2px solid #ff8e38;
    color: #ff8e38!important
}
.modal-dialog.modal-notify.modal-success .fa {
    color: #01d36b
}
.modal-dialog.modal-notify.modal-success .btn-primary-modal {
    background: #01d36b
}
.modal-dialog.modal-notify.modal-success .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-success .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-success .btn-primary-modal:hover {
    background-color: #01ec78!important
}
.modal-dialog.modal-notify.modal-success .btn-primary-modal.active {
    background-color: #016d38!important
}
.modal-dialog.modal-notify.modal-danger .badge,
.modal-dialog.modal-notify.modal-danger .modal-header {
    background-color: #ff4b4b
}
.modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal {
    border: 2px solid #01d36b;
    color: #01d36b!important
}
.modal-dialog.modal-notify.modal-danger .fa {
    color: #ff4b4b
}
.modal-dialog.modal-notify.modal-danger .btn-primary-modal {
    background: #ff4b4b
}
.modal-dialog.modal-notify.modal-danger .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-danger .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-danger .btn-primary-modal:hover {
    background-color: #ff6565!important
}
.modal-dialog.modal-notify.modal-danger .btn-primary-modal.active {
    background-color: #e40000!important
}
.modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal {
    border: 2px solid #ff4b4b;
    color: #ff4b4b!important
}

.blockquote p {
    font-size: 1.1rem;
}
