@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}

html, body {
  height: 100%;
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

p:last-child {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

.vTop {
  vertical-align: top;
}

.vMid {
  vertical-align: top;
}

.vBot {
  vertical-align: top;
}

.bg-secondary {
  background-color: #dfdfdf;
}

.bg-white {
  background-color: #fff;
}

.auth__user {
  font-size: 1.5rem;
}

.auth__user b {
  margin-right: 0.5rem;
  font-weight: 500;
}

.dropdown-toggle:after {
  display: none;
  border: 0;
  width: auto;
  height: auto;
  margin: 0;
  vertical-align: inherit;
}

.dropdown-toggle.\--arrow-down:after {
  display: inline-block;
  margin-left: 0.5rem;
}

.dropdown-toggle.\--arrow-down .fa-angle-down {
  position: relative;
}

.row.\--spaced .row__col {
  padding-bottom: 30px;
}

.row.\--spaced.\--min .row__col {
  padding-bottom: 15px;
}

.row.\--spaced-in .row__col.\--no-child {
  padding-bottom: 30px;
}

.card__header {
  margin-bottom: 2rem;
}

.card__title {
  font-size: 1rem;
  font-weight: 600;
}

.badge-white {
  color: #303030;
}

.badge-white:hover, .badge-white:focus {
  color: #fff !important;
  background-color: #dfdfdf;
}

.badge.\--big {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.35rem;
}

.badge.\--small {
  font-size: 0.75rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
}

.text-default {
  color: #303030;
}

.uchat {
  padding-left: 1rem;
  padding-right: 1rem;
}

.uchat__interlocutor {
  padding-top: 0.25rem;
}

.uchat__interlocutor-img {
  display: inline-block;
}

.uchat__credential {
  margin-bottom: 3rem;
}

.uchat__messsages {
  overflow: auto;
  will-change: left;
  margin-bottom: 1.5rem;
  padding-right: 0.5rem;
  /* Scrollbar */
  /* Track */
  /* Handle */
}

.uchat__messsages::-webkit-scrollbar {
  width: 8px;
}

.uchat__messsages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.uchat__messsages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e2e4e7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.uchat__messsages::-webkit-scrollbar-thumb:window-inactive {
  background: #e2e4e7;
}

.uchat__messsage {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.uchat__messsage p {
  margin-bottom: 0.5rem;
}

.uchat__messsage p:last-child {
  margin-bottom: 0;
}

.uchat__messsage .uchat__text {
  padding: 0.75rem 1rem;
  margin-bottom: 0.25rem;
}

.uchat__messsage.\--partner .uchat__text {
  border-radius: 0 5px 5px 5px;
}

.uchat__messsage.\--mine .uchat__text {
  border-radius: 5px 0 5px 5px;
}

.form-control.no-brd {
  border-bottom: 0;
}

.iconed-field {
  position: relative;
}

.iconed-field > .fa, .iconed-field > .dropdown-toggle.\--arrow-down:after, .iconed-field > button {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.iconed-field > button {
  padding: 0;
  border: 0;
  background: transparent;
}

.iconed-field.md-form input {
  padding-top: 0;
  padding-bottom: 0;
}

.iconed-field.\--left .form-control {
  padding-left: 2rem;
}

.iconed-field.\--left > .fa, .iconed-field.\--left > .dropdown-toggle.\--arrow-down:after, .iconed-field.\--left > button {
  left: 0;
}

.iconed-field.\--left.md-form input {
  padding-left: 20px;
  width: calc(100% - 20px);
}

.iconed-field.\--right .form-control {
  padding-right: 2rem;
}

.iconed-field.\--right > .fa, .iconed-field.\--right > .dropdown-toggle.\--arrow-down:after, .iconed-field.\--right > button {
  right: 0;
  left: auto;
}

.iconed-field.\--right.md-form input {
  padding-right: 20px;
  width: calc(100% - 20px);
}

.brd-side {
  border-style: solid;
  border-width: 0;
  border-color: #eaedf1;
}

.brd-side.\--brd-left {
  border-left-width: 1px;
}

.brd-side.\--brd-color-muted {
  border-color: #eaedf1;
}

.cupload__imaged {
  display: inline-block;
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
  border: 1px dashed;
  cursor: pointer;
  border-radius: 0.25rem;
}

.cupload input[type="file"] {
  display: none;
  visibility: hidden;
}

.md-form .cupload__imaged {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 0;
}

b, strong {
  font-weight: 600;
}

.table th, .table td {
  vertical-align: middle;
}

.table thead th {
  text-align: center;
  border-top: 0;
  border-bottom-width: 1px;
}

.table thead th.vmid {
  vertical-align: middle;
}

.table thead th.vtop {
  vertical-align: top;
}

.table tbody tr:last-child {
  border-bottom: 1px solid #dfdfdf;
}

.table.\--no-last-brd tbody tr:last-child {
  border-bottom: 0;
}

.table-clear tbody td {
  border-top: 0;
}

.table-responsive.fixed-size .table {
  min-width: 800px;
}

.utable thead tr {
  box-shadow: 0 5px 10px #f2f4f6;
  background: #fff;
}

.utable thead tr:last-child th {
  border-bottom-width: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .utable thead tr:last-child th {
    border-bottom-width: 1px;
  }
}

.utable tbody tr:first-child td {
  border-top-width: 0;
}

.utable .allotted-cell {
  border-bottom-width: 4px !important;
}

.utable .allotted-cell.\--primary {
  border-bottom-color: #2081b8;
}

.utable.\--spacing2x th, .utable.\--spacing2x td {
  padding: 1.5rem;
}

.utable.\--no-brd-aside tr th:first-child, .utable.\--no-brd-aside tr td:first-child {
  border-left-color: #fff;
}

.utable.\--no-brd-aside tr th:last-child, .utable.\--no-brd-aside tr td:last-child {
  border-right-color: #fff;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.lead .b {
  font-weight: 600;
}

.lead-sm {
  font-size: 1rem;
}

.lead-md {
  font-size: 1.2rem;
}

.lead-lg {
  font-size: 1.5rem;
}

.lead-xl {
  line-height: 1em;
  font-size: 2rem;
}

.lead-huge {
  line-height: 1em;
  font-size: 3rem;
}

.lead-huge strong {
  font-weight: 700;
}

.uinvoice__header {
  margin: 0 0 2rem;
  padding: 0 1.25rem 1.25rem;
  color: #a9dcef;
  border-radius: 0.25rem 0.25rem 0 0;
  background: -webkit-linear-gradient(left, #2081b8 0%, #309dca 100%);
  background: linear-gradient(to right, #2081b8 0%, #309dca 100%);
}

@media (min-width: 1200px) {
  .uinvoice__header {
    padding: 0 1.25rem 1.25rem 3.75rem;
  }
}

.uinvoice__header a {
  color: inherit;
}

.uinvoice__operation {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  z-index: 2;
}

.uinvoice__operation a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.uinvoice__operation a:hover {
  color: #fff;
}

.uinvoice__logo {
  display: inline-block;
  color: #444;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (max-width: 575px) {
  .uinvoice__logo {
    padding-top: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .uinvoice__credential {
    padding-top: 5.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .uinvoice__credential {
    padding-top: 5.75rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .uinvoice__credential {
    padding-top: 5.75rem;
  }
}

@media (max-width: 991px) {
  .uinvoice__credential {
    padding-top: 1.5rem;
  }
}

.table-responsive {
  /* Scrollbar */
  /* Track */
  /* Handle */
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e2e4e7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.table-responsive::-webkit-scrollbar-thumb:window-inactive {
  background: #e2e4e7;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f7fa;
}

.table [type="checkbox"] + label {
  top: 7px;
}

@media (min-width: 576px) {
  .sortby__name, .sortby__select {
    display: inline-block;
  }
}

.sortby__name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .sortby__name {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #e1e1e1;
  }
  .sortby__name.\--no-brd {
    border-right: 0;
  }
}

@media (min-width: 576px) {
  .sortby__select {
    margin-right: 1rem;
  }
}

.sortby__select:last-child {
  margin-right: 0;
}

.sortby__select.md-form {
  margin-bottom: 0;
}

.sortby__select.md-form .form-control {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .sortby {
    margin-bottom: 1.5rem;
  }
}

.upager {
  font-size: 1rem;
}

.sortby + .upager {
  padding-top: 1.25rem;
}

.cmenu {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.cmenu .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cmenu .nav li a.nav-link {
  display: block;
  font-size: 1rem;
  height: 100%;
}

@media (min-width: 992px) {
  .cmenu .nav li a.nav-link {
    padding: 1.75rem 1.5rem;
  }
}

@media (max-width: 1199px) {
  .cmenu .nav li a.nav-link {
    padding: 1.15rem .75rem 0.85rem;
  }
}

.cmenu .nav li a.nav-link:hover {
  background: rgba(32, 129, 184, 0.1);
}

.cmenu .nav li.active a {
  color: #fff;
  background-color: #2081b8;
}

@media (min-width: 992px) {
  .cmenu .nav li.dropdown {
    padding: 1.75rem 1.5rem;
  }
}

@media (max-width: 1199px) {
  .cmenu .nav li.dropdown {
    padding: 1.15rem .75rem 0.85rem;
  }
}

.subnav {
  padding-bottom: 0;
}

.subnav.\--light {
  background-color: #fff;
}

.subnav.\--fixed-top {
  z-index: 90;
}

@media (min-width: 1441px) {
  .subnav.\--fixed-top {
    padding-left: 240px;
  }
}

@media (min-width: 1200px) {
  .subnav.\--fixed-top {
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
    padding-top: 13px;
  }
  .subnav.\--fixed-top.top-nav-collapse {
    padding-top: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .subnav.\--fixed-top {
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
  }
  .subnav.\--fixed-top.top-nav-collapse {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .subnav.\--fixed-top {
    position: relative;
    top: 34px;
  }
}

.subnav .nav {
  padding: 0;
  margin: 0;
}

.subnav .nav .nav-item .nav-link {
  position: relative;
  overflow: hidden;
  padding: 0.75em 1.25em;
  color: #303030;
  font-size: 1.125rem;
}

.subnav .nav .nav-item .nav-link:hover {
  color: #f1bd1d;
}

.subnav .nav .nav-item .nav-link.active {
  color: #f1bd1d;
}

.subnav .nav .nav-item .nav-link.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: auto;
  border-radius: 50%;
  background: #f1bd1d;
}

@media (min-width: 992px) {
  .subnav .nav .nav-item .nav-link.active:after {
    bottom: -9px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .subnav .nav .nav-item .nav-link.active:after {
    left: -9px;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  .subnav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ucustomer__credential {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ucustomer__credential img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  max-width: 100px;
}

.ucustomer__credential > img + div {
  padding-left: 30px;
}

.ucustomer__credential > div {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.ucustomer__orders {
  overflow: auto;
  /* Scrollbar */
  /* Track */
  /* Handle */
}

@media (min-width: 1700px) {
  .ucustomer__orders {
    height: 308px;
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .ucustomer__orders {
    height: 260px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .ucustomer__orders {
    height: 180px;
  }
}

@media (min-width: 1368px) and (max-width: 1439px) {
  .ucustomer__orders {
    height: 150px;
  }
}

@media (min-width: 1320px) and (max-width: 1367px) {
  .ucustomer__orders {
    height: 130px;
  }
}

@media (min-width: 1200px) and (max-width: 1319px) {
  .ucustomer__orders {
    height: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ucustomer__orders {
    height: 200px;
  }
}

.ucustomer__orders::-webkit-scrollbar {
  width: 8px;
}

.ucustomer__orders::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ucustomer__orders::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e2e4e7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.ucustomer__orders::-webkit-scrollbar-thumb:window-inactive {
  background: #e2e4e7;
}

.ucustomer__order {
  padding: 0.75rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ucustomer__order > div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.ucustomer__order > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  text-align: right;
}

.ucustomer__order:first-child {
  padding-top: 0;
}

.ucustomer__order:last-child, .ucustomer__order.\--no-brd {
  border-bottom: 0;
  padding-bottom: 0;
}

.calc .md-form {
  margin: 0.225rem 0;
}

.calc .md-form input {
  margin-top: 0;
  margin-bottom: 0;
}

.uauth {
  width: 442px;
  margin: auto;
}

@media (min-width: 992px) {
  .uauth {
    padding: 10% 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .uauth {
    padding: 7% 0;
  }
}

@media (max-width: 767px) {
  .uauth {
    padding: 1em 0;
    width: 360px;
  }
}

.uauth__field {
  position: relative;
}

.uauth__fieldicon {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.uauth__fieldicon + .form-control {
  padding-right: 2.75rem;
}

@media (max-width: 480px) {
  .uauth {
    width: 300px;
  }
}

.uauth__btn {
  box-shadow: 0 10px 20px rgba(200, 211, 217, 0.75);
}

.border-around {
  position: relative;
  text-align: center;
}

.border-around > span {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 2;
}

.border-around:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: solid;
  z-index: 0;
}

.border-around.\--dashed:before, .border-around.\--dashed:after {
  border-style: dashed;
}

.border-around.\--dotted:before, .border-around.\--dotted:after {
  border-style: dotted;
}

.has-success .form-control-success {
  background-image: none;
}

.has-warning .form-control-warning {
  background-image: none;
}

.has-danger .form-control-danger {
  background-image: none;
}

.overlay.active .mask {
  opacity: 1;
}

.pos-item {
  padding: 1rem;
}

.pos-item__name, .pos-item__price {
  font-weight: 600;
}

.pos-item__price {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #f1bd1d;
}

.pos-item__name {
  color: #303030;
}

.pos-item__img {
  border-radius: 0;
  margin-bottom: 0.65rem;
}

.pos-item:hover .pos-item__name {
  color: #155377;
}

.pos-item.active .pos-item__price {
  color: #155377;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .post-card-body {
    height: 224px;
  }
}

.fixed-sn main.wider {
  margin-left: 2%;
  margin-right: 2%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .subtotal-calc {
    min-width: 200px;
  }
}

.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */
}

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.dropup {
  margin-top: -5px;
}

.daterangepicker.dropup:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.dropup:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3001;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker.show-calendar .calendar {
  display: block;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
  margin: 4px;
}

.daterangepicker .calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  height: 30px;
  line-height: 30px;
  display: block;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%;
}

.daterangepicker .input-mini.active {
  border: 1px solid #08c;
  border-radius: 4px;
}

.daterangepicker .daterangepicker_input {
  position: relative;
}

.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 8px;
  top: 8px;
}

.daterangepicker.rtl .input-mini {
  padding-right: 28px;
  padding-left: 6px;
}

.daterangepicker.rtl .daterangepicker_input i {
  left: auto;
  right: 8px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left;
}

.ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.ranges li {
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  cursor: pointer;
}

.ranges li:hover {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff;
}

.ranges li.active {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 768px) {
  .daterangepicker {
    min-width: 600px;
  }
}

@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }
  .daterangepicker .ranges ul {
    width: 160px;
  }
  .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .daterangepicker.single .calendar.left {
    clear: none;
  }
  .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
    float: left;
  }
  .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
    float: right;
  }
  .daterangepicker.ltr {
    direction: ltr;
    text-align: left;
  }
  .daterangepicker.ltr .calendar.left {
    clear: left;
    margin-right: 0;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.ltr .calendar.right {
    margin-left: 0;
  }
  .daterangepicker.ltr .calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.ltr .left .daterangepicker_input {
    padding-right: 12px;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    padding-right: 12px;
  }
  .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
    float: left;
  }
  .daterangepicker.rtl {
    direction: rtl;
    text-align: right;
  }
  .daterangepicker.rtl .calendar.left {
    clear: right;
    margin-left: 0;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.rtl .calendar.right {
    margin-right: 0;
  }
  .daterangepicker.rtl .calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.rtl .left .daterangepicker_input {
    padding-left: 12px;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    padding-left: 12px;
  }
  .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
    text-align: right;
    float: right;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }
  .daterangepicker.ltr .ranges {
    float: left;
  }
  .daterangepicker.rtl .ranges {
    float: right;
  }
  .daterangepicker .calendar.left {
    clear: none !important;
  }
}

.daterange {
  border: 0;
  line-height: 1.5;
  color: #303030;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 170px;
}

.documentation .doc-title {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 2rem 0;
  margin: 5rem 0 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.documentation .doc-title.doc-first {
  border-top: none;
  margin-top: 0;
  padding-top: 1.2rem;
}

.documentation .col-example {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.fixed-sn .documentation footer, .fixed-sn .documentation main {
  padding-left: 0;
}

pre[class*=language-] {
  max-height: 600px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2.5em 0;
  overflow: auto;
  padding: 1em;
  background: #1C2331;
  color: #fff;
  text-align: left;
  text-shadow: 0 -0.1em 0.2em #000;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.token {
  position: relative;
  z-index: 1;
}

.token.tag {
  color: #ac885c;
}

.token.attr-name {
  color: #ac885c;
}

.token.attr-value {
  color: #909e6a;
}

.token.comment {
  color: #777;
}

.token.property {
  color: #f9ed99;
}

.token.atrule {
  color: #7385a5;
}

.token.attr-value {
  color: #909e6a;
}

.token.punctuation {
  color: #ac885c;
}

.token.keyword {
  color: #f9ed99;
}

.token.string {
  color: #909e6a;
}

.color-block {
  text-align: center;
  color: #fff;
  padding: 40px;
}

.color-block-dark {
  height: 130px;
  text-align: center;
  color: #fff;
  padding: 15px;
}

.dynamic-color .col-md-4 div {
  padding: 7px 20px;
}

.example-list {
  padding: 0;
  margin: .5em 0 1em;
  list-style: none;
  overflow-y: hidden;
}

.example-list-quad li {
  float: left;
  width: 100%;
  max-width: 25%;
}

.example li span {
  cursor: pointer;
}

span.instafilta-target, .planet-name {
  display: block;
}

.instafilta-target, .planet-name {
  padding: .2em .5em;
  color: #666666;
  font-size: 1em;
  background-color: #fff;
  border-bottom: 1px solid #e8ede0;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
}

.modal-dialog .modal-content {
  border-radius: 2px;
  border: 0;
}

.modal .modal-dialog.modal-top {
  top: 0;
}

.modal .modal-dialog.modal-left {
  left: 0;
}

.modal .modal-dialog.modal-right {
  right: 0;
}

.modal .modal-dialog.modal-bottom {
  bottom: 0;
}

.modal .modal-dialog.modal-top-left {
  top: 10px;
  left: 10px;
}

.modal .modal-dialog.modal-top-right {
  top: 10px;
  right: 10px;
}

.modal .modal-dialog.modal-bottom-left {
  left: 10px;
  bottom: 10px;
}

.modal .modal-dialog.modal-bottom-right {
  right: 10px;
  bottom: 10px;
}

.modal.fade.top:not(.show) .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

.modal.fade.left:not(.show) .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}

.modal.fade.right:not(.show) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}

.modal.fade.bottom:not(.show) .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.modal.modal-scrolling {
  position: relative;
}

.modal.modal-scrolling .modal-dialog {
  position: fixed;
  z-index: 1050;
}

.modal.modal-content-clickable {
  top: auto;
  bottom: auto;
}

.modal.modal-content-clickable .modal-dialog {
  position: fixed;
}

.modal .modal-fluid .modal-content {
  width: 100%;
}

.modal .modal-frame {
  position: absolute;
  margin: 0;
}

.modal .modal-fluid,
.modal .modal-frame {
  width: 100%;
  max-width: 100%;
}

.modal .modal-frame.modal-bottom {
  bottom: 0;
}

.modal .modal-full-height {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: absolute;
  width: 400px;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
}

.modal .modal-full-height.modal-bottom,
.modal .modal-full-height.modal-top {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal .modal-full-height.modal-top {
  bottom: auto;
}

.modal .modal-full-height.modal-bottom {
  top: auto;
}

.modal .modal-full-height .modal-content {
  width: 100%;
}

.modal .modal-full-height.modal-lg {
  max-width: 90%;
  width: 90%;
}

@media (min-width: 992px) {
  .modal .modal-full-height.modal-lg {
    max-width: 800px;
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal .modal-full-height.modal-lg {
    max-width: 1000px;
    width: 1000px;
  }
}

.modal .modal-side {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
  width: 400px;
}

.modal-dialog .btn .fa, .modal-dialog .btn .dropdown-toggle.\--arrow-down:after {
  color: #fff !important;
}

.modal-dialog [class*=btn-outline-] .fa, .modal-dialog [class*=btn-outline-] .dropdown-toggle.\--arrow-down:after {
  color: inherit !important;
}

.modal-dialog.cascading-modal {
  margin-top: 10%;
}

.modal-dialog.cascading-modal .modal-header {
  text-align: center;
  margin: -2rem 1rem 1rem;
  padding: 1.5rem;
  border: none;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 3px;
}

.modal-dialog.cascading-modal .modal-header .close {
  margin-right: 2.5rem;
}

.modal-dialog.cascading-modal .modal-header.white-text .close {
  color: #fff;
  opacity: 1;
}

.modal-dialog.cascading-modal .modal-header .title {
  width: 100%;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.modal-dialog.cascading-modal .modal-header .title .fa, .modal-dialog.cascading-modal .modal-header .title .dropdown-toggle.\--arrow-down:after {
  margin-right: 9px;
}

.modal-dialog.cascading-modal .modal-header .social-buttons {
  margin-top: 1.5rem;
}

.modal-dialog.cascading-modal .modal-header .social-buttons a {
  font-size: 1rem;
}

.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs {
  margin: -1.5rem 1rem 0;
}

.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
  padding: 1.7rem 0 0;
}

.modal-dialog.cascading-modal .modal-body,
.modal-dialog.cascading-modal .modal-footer {
  color: #616161;
  padding-right: 2rem;
  padding-left: 2rem;
}

.modal-dialog.cascading-modal .modal-body .additional-option,
.modal-dialog.cascading-modal .modal-footer .additional-option {
  text-align: center;
  margin-top: 1rem;
}

.modal-dialog.cascading-modal.modal-avatar {
  margin-top: 6rem;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header {
  margin: -6rem 2rem -1rem;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header img {
  width: 130px;
}

.modal-dialog.modal-notify .heading {
  margin: 0;
  padding: .3rem;
  color: #fff;
  font-size: 1.15rem;
}

.modal-dialog.modal-notify .modal-header {
  border: 0;
}

.modal-dialog.modal-notify .close {
  opacity: 1;
}

.modal-dialog.modal-notify .modal-body {
  padding: 1.5rem;
  color: #616161;
}

[type=checkbox] + label,
[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  padding-left: 35px;
  display: inline-block;
  line-height: 25px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

.modal-dialog.modal-notify .btn-outline-secondary-modal {
  background-color: transparent;
}

.modal-dialog.modal-notify.modal-info .badge,
.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #5394ff;
}

.modal-dialog.modal-notify.modal-info .fa, .modal-dialog.modal-notify.modal-info .dropdown-toggle.\--arrow-down:after {
  color: #5394ff;
}

.modal-dialog.modal-notify.modal-info .btn-primary-modal {
  background: #5394ff;
}

.modal-dialog.modal-notify.modal-info .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-info .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-info .btn-primary-modal:hover {
  background-color: #6da4ff !important;
}

.modal-dialog.modal-notify.modal-info .btn-primary-modal.active {
  background-color: #0059ec !important;
}

.modal-dialog.modal-notify.modal-warning .badge,
.modal-dialog.modal-notify.modal-warning .modal-header {
  background-color: #ff8e38;
}

.modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal {
  border: 2px solid #5394ff;
  color: #5394ff !important;
}

.modal-dialog.modal-notify.modal-warning .fa, .modal-dialog.modal-notify.modal-warning .dropdown-toggle.\--arrow-down:after {
  color: #ff8e38;
}

.modal-dialog.modal-notify.modal-warning .btn-primary-modal {
  background: #ff8e38;
}

.modal-dialog.modal-notify.modal-warning .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-warning .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-warning .btn-primary-modal:hover {
  background-color: #ff9c52 !important;
}

.modal-dialog.modal-notify.modal-warning .btn-primary-modal.active {
  background-color: #d15a00 !important;
}

.modal-dialog.modal-notify.modal-success .badge,
.modal-dialog.modal-notify.modal-success .modal-header {
  background-color: #01d36b;
}

.modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal {
  border: 2px solid #ff8e38;
  color: #ff8e38 !important;
}

.modal-dialog.modal-notify.modal-success .fa, .modal-dialog.modal-notify.modal-success .dropdown-toggle.\--arrow-down:after {
  color: #01d36b;
}

.modal-dialog.modal-notify.modal-success .btn-primary-modal {
  background: #01d36b;
}

.modal-dialog.modal-notify.modal-success .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-success .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-success .btn-primary-modal:hover {
  background-color: #01ec78 !important;
}

.modal-dialog.modal-notify.modal-success .btn-primary-modal.active {
  background-color: #016d38 !important;
}

.modal-dialog.modal-notify.modal-danger .badge,
.modal-dialog.modal-notify.modal-danger .modal-header {
  background-color: #ff4b4b;
}

.modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal {
  border: 2px solid #01d36b;
  color: #01d36b !important;
}

.modal-dialog.modal-notify.modal-danger .fa, .modal-dialog.modal-notify.modal-danger .dropdown-toggle.\--arrow-down:after {
  color: #ff4b4b;
}

.modal-dialog.modal-notify.modal-danger .btn-primary-modal {
  background: #ff4b4b;
}

.modal-dialog.modal-notify.modal-danger .btn-primary-modal:active,
.modal-dialog.modal-notify.modal-danger .btn-primary-modal:focus,
.modal-dialog.modal-notify.modal-danger .btn-primary-modal:hover {
  background-color: #ff6565 !important;
}

.modal-dialog.modal-notify.modal-danger .btn-primary-modal.active {
  background-color: #e40000 !important;
}

.modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal {
  border: 2px solid #ff4b4b;
  color: #ff4b4b !important;
}

.blockquote p {
  font-size: 1.1rem;
}

/* Plugins, which is used in current project. */
/* Components, which is used in current project. */
/* Additional style files. */
