.navbar {
    form {
        input {
            margin: 0;
            height: 1rem;
        }
    }
    .navbar-brand {
        align-self: flex-start;
        overflow: visible;
    }
    .breadcrumb {
        margin: 0;
        background-color: inherit;
    }
    &.navbar-dark {
        background: $primary;
        .navbar-brand {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            cursor: pointer; 
        } 
        .breadcrumb, 
        .navbar-nav .nav-item {
            a {
                color: #fff;
                transition: .35s;
                &:hover {
                    color: rgba(255, 255, 255, .75);
                }
            }
            &.active {
                background-color: rgba(255, 255, 255, 0.1);
            }
            .dropdown-menu a {
                color: #212121;
                &:hover,
                &:focus,
                &:active {
                    color: #212121;
                }
            }
        }
        .nav-link {
            color: #fff;
        }
        .navbar-toggler {
            color: #fff;
        }
    }
    &.navbar-light {
        background: $white;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        .breadcrumb,
        .nav-item {
            a {
                color: $gray-dark;
                transition: .35s;
                &:hover {
                    transition: .35s;
                    color: rgba($gray-dark, 0.75);
                }
            }
            &.active {
                background-color: rgba(158, 158, 158, 0.2);
            }
            .dropdown-menu a {
                color: #000;
                padding: 1rem;
            }
        }
        .navbar-toggler {
            color: #000;
        }
    }
    .dropdown-menu {
        a {
            font-size: 0.9375rem;
            font-weight: 300;
            padding: 10px;
        }
    }
    .navbar-toggler {
        border-width: 0;
    }
    .nav-flex-icons {
        flex-direction: row;
        .dropdown {
            >a {
                img {
                    margin-top: -3px;
                    margin-bottom: -3px;
                }
            }
        }
    }
    .navbar-nav {
        margin-left: auto;
    }
    form + .navbar-nav {
        margin-left: 1rem;
    }
    .container {
        @media (max-width: 991px) {
            width: 100%;
            .navbar-toggler-right {
                right: 0;
            }
        }
    }
    .dropdown-menu {
        position: absolute !important;
    }
    &.double-nav {
        flex-direction: row;
    }
}

// Input line color
.navbar-dark form {
    input[type=text] {
        border-bottom: 1px solid #fff;
    }
    .form-control {
        color: #fff;
        @include placeholder {
            color: rgba(255, 255, 255, .65) !important;
            font-weight: 300;
        }
    }
}

.navbar-light form {
    // Style Placeholders
    input[type=text] {
        border-bottom: 1px solid $gray-lighter;
    }
    .form-control {
        color: #1C2331;
        @include placeholder {
            color: $gray-lighter;
            font-weight: 300;
        }
        &:focus {
            @include placeholder {
                color: $gray-light;
            }
        }
    }
}

.navbar form {
    .md-form {margin-bottom: 0;}
    input[type=text] {
        @media (max-width: 991px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (max-width: 450px) {
        width: 120px;
    }
}

.pos-nav {
    height: 61px;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: 1rem;
    transition: ease-in-out .5s;
    .nav-link:not(.dropdown-toggle) {
        line-height: 37px;
        font-size: $title-size;
        font-weight: 300;
        transition: ease-in-out .5s !important;
        &:hover {
            background: $brand-secondary;
        }
    }
    li.dropdown {
        .dropdown-toggle {
            padding-top:19px;
            padding-bottom:19px;
        }
    }
    li.active {
        .nav-link {
            color: $white;
            background: $brand-primary;
        }
    }
}
.top-nav-collapse {
    .pos-nav {
        height: 47px;
        margin-top: -5px;
        margin-bottom: -5px;
        .nav-link {
            line-height: 23px;
        }
    }
} 

.pos-dropdown {
    position: relative;
    @media (min-width: 992px) {
        top: 2px;
        @-moz-document url-prefix() {
            top: 4px;
        }
    }
    @media (max-width: 991px) {
        top: 5px;
        @-moz-document url-prefix() {
            top: 7px;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            top: 8px;
        }
    }
}