mixin header(pageTitle, data)
    <!--Double navigation-->
    .header
        <!-- Sidebar navigation -->
        ul.side-nav.bg-primary.custom-scrollbar(id="slide-out", class=(pageTitle != 'POS' && pageTitle != 'POS 2') ? 'fixed' : '')
            <!-- Logo -->
            li
                div.logo-wrapper
                    a.waves-effect.scrolling-navbar(href="/") 
                        span POS App
            <!--/. Logo -->

            li
                ul.collapsible.collapsible-accordion
                    - each item, i in data.menu
                        li
                            - var foo = false
                            if item.sub 
                                - each sub_item, j in item.sub
                                    if sub_item.title == pageTitle
                                        - foo = true

                            if item.sub
                                a.collapsible-header.waves-effect.arrow-r(href="#{item.url}", class=(foo == true) ? 'active' : '')
                                    i.fa.fa-icon(class="#{item.icon}")
                                    |#{item.title}
                                    i.fa.fa-angle-down.rotate-icon
                                if item.sub 
                                    div.collapsible-body
                                        ul
                                            - each sub_item, j in item.sub
                                                li
                                                    a.waves-effect(href="#{sub_item.url}", class=(sub_item.title == pageTitle) ? 'active' : '')
                                                        i.fa.fa-circle-thin 
                                                        |#{sub_item.title}
                            else
                                 a.waves-effect.arrow-r(href="#{item.url}", class=(item.title == pageTitle) ? 'selected' : '')
                                    i.fa.fa-icon(class="#{item.icon}")
                                    |#{item.title}

        <!--/. Sidebar navigation -->

        <!--Navbar-->
        nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.scrolling-navbar.double-nav
            <!-- SideNav slide-out button -->
            div.float-left
                a.button-collapse(href="#", data-activates="slide-out")
                    i.fa.fa-bars
            <!-- /SideNav slide-out button -->

            if pageTitle != 'POS' && pageTitle != 'POS 2'
                <!-- Breadcrumb-->
                div.breadcrumb-dn.mr-3
                    p #{pageTitle}
                <!-- /Breadcrumb-->

            if pageTitle == 'POS' || pageTitle == 'POS 2'
                div.dropdown.hidden-xl-up.mx-3.pos-dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        |Shirts
                        span.badge.badge-primary.ml-2
                            i.fa.fa-angle-down
                    div.dropdown-menu
                        a.dropdown-item.active Shirt
                        a.dropdown-item Shoes
                        a.dropdown-item Jackets
                        a.dropdown-item Hats
                        a.dropdown-item Belts
                ul.nav.pos-nav.hidden-lg-down
                    li.nav-item.active
                        a.nav-link Shirt
                    li.nav-item
                        a.nav-link Shoes
                    li.nav-item
                        a.nav-link Jackets
                    li.nav-item
                        a.nav-link Hats
                    li.nav-item
                        a.nav-link Belts
                    li.dropdown
                        a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span.badge.badge-default
                                i.fa.fa-angle-down
                        div.dropdown-menu
                            a.dropdown-item.active More items
                            a.dropdown-item More Shoes
                            a.dropdown-item More Jackets
                            a.dropdown-item More Hats
                            a.dropdown-item More Belt

            if pageTitle == 'POS' 
                form.form-inline.waves-effect.waves-light.brd-side.--brd-left.ml-auto.ml-2.pl-3
                    div.md-form.iconed-field.--left
                        i.fa.fa-search.text-muted
                        input.my-0(type="text", placeholder="Search")

            if pageTitle == 'Orders'
                form.form-inline.waves-effect.waves-light.brd-side.--brd-left.mr-auto.ml-2.pl-3
                    div.md-form.iconed-field.--left
                        i.fa.fa-search.text-muted
                        input.my-0(type="text", placeholder="Search")

            <!-- nav-bar -->
            ul.nav.navbar-nav.nav-flex-icons
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.--arrow-down(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        img.rounded-circle.mr-1(data-src="holder.js/24x24?auto=yes&bg=2081b8&size=5", alt="Nirmala", height="24", width="24")
                        b.hidden-sm-down Hi, Nirmala
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item Account
                        a.dropdown-item Orders
                        a.dropdown-item Invoice
                        a.dropdown-item Logout
                <!-- /nav-bar -->
            <!--/.Navbar-->
    <!--/Double navigation-->

    if pageTitle == 'POS' || pageTitle == 'POS 2'
        nav.subnav.--light.--fixed-top.scrolling-navbar
            ul.nav.nav-tabs(role="tablist")
                li.nav-item
                    a.nav-link(data-toggle="tab", href="#sportwear", role="tab") Sportwear 
                li.nav-item
                    a.nav-link.active(data-toggle="tab", href="#casual", role="tab") Casual
                li.nav-item
                    a.nav-link(data-toggle="tab", href="#oxford", role="tab") Oxford
                li.nav-item
                    a.nav-link(data-toggle="tab", href="#loafer", role="tab") Loafer
